@import url("https://fonts.googleapis.com/css?family=Montserrat|Libre+Franklin");

$font-stack: "Montserrat", sans-serif;
$font-color-dark: black;
$font-color-hover: #919191;
$header-item-padding: 5px 5px 5px 5px;
$max-width: 1200px;
$small: "(max-width: 750px)";
$medium: "(max-width: 1000px)";
$app-padding-normal: 50px;
$app-padding-small: 30px;
$content-padding-top: 5em;
$content-padding-bottom: 3em;

.text-vertical-middle {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-baseline-middle;
  vertical-align: -o-baseline-middle;
}

@mixin background-image($url, $color) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url($url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $color;
}

// BODY

body {
  font-family: $font-stack;
  font-size: medium;
  color: $font-color-dark;
}

@media #{$small} {
  body {
    font-size: small;
  }
}

// APP

.app {
  padding: 0;
  max-width: $max-width;
}

// HEADER

.header {
  position: fixed;
  text-align: center;
  z-index: 1;
  max-width: $max-width;
  width: 100%;
  padding-right: $app-padding-normal;
  padding-left: $app-padding-normal;
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

@media #{$medium} {
  .header {
    padding-left: $app-padding-small;
    padding-right: $app-padding-small;
  }
}

.name {
  @extend .text-vertical-middle;

  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-dark;
  text-align: center;
  font-weight: bolder;
  padding: $header-item-padding;

  &:hover {
    text-decoration: none;
    color: $font-color-dark;
  }
}

.nav-list {
  position: absolute;
  padding: 0;
  margin: 0;

  .item {
    @extend .text-vertical-middle;

    position: relative;
    padding: 0;
    display: inline-block;
    padding-right: 20px;

    a {
      padding: $header-item-padding;
      text-decoration: underline;
      color: $font-color-dark;
      background-color: none;
    }

    a.active {
      padding: $header-item-padding;
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: white;
      background-color: black;
    }
  }
}

@media #{$small} {
  .name {
    float: right;
  }
}

// CONTENT

.content {
  padding-top: $content-padding-top;
  padding-bottom: $content-padding-bottom;
  padding-right: $app-padding-normal;
  padding-left: $app-padding-normal;
  position: relative;
  z-index: 0;
}

@media #{$medium} {
  .content {
    padding-left: $app-padding-small;
    padding-right: $app-padding-small;
  }
}

// INDEX PAGE

.index-page {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bio {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

// PHOTO GRID

.photo-grid {}

.grid-item {
  margin-bottom: 20px;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.grid-sizer,
.grid-item {
  width: 32%;
}

.gutter-sizer {
  width: 2%;
}

@media #{$medium} {
  .grid-sizer,
  .grid-item {
    width: 49%;
  }

  .gutter-sizer {
    width: 2%;
  }
}

// SINGLE

.single-photo {
  text-align: center;

  img {
    max-height: calc(100vh - #{$content-padding-top + $content-padding-bottom});
    max-width: #{$max-width - 2 * $app-padding-normal};
  }
}

@media #{$medium} {
  .single-photo {
    img {
      max-width: calc(100vw - #{2 * $app-padding-small});
    }
  }
}
